body {
    font-family: 'Arial', sans-serif;
    background-color: #fddeea; /* Un suave rosa de fondo */
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #c94c61; /* Rosa fuerte para el título */
    margin: 20px 0;
}

.navbar-nav a {
    color: #c94c61;
    font-weight: bold;
}

.navbar-nav a:hover {
    color: #e48a9c;
}

a {
    color: #ff6699; /* Color de los enlaces */
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

a:hover {
    color: #ff99cc; /* Un color más suave al pasar el mouse */
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.producto {
    border: 1px solid #ff99cc; /* Bordes rosas */
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    background-color: #fff0f5; /* Fondo rosa claro */
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más intensa al hacer hover */
}

.producto img {
    max-width: 100px;
    margin-bottom: 10px;
}

.producto h2 {
    font-size: 18px;
    color: #ff66b2; /* Título de los productos en rosa oscuro */
    margin: 10px 0;
}

.producto p {
    font-size: 14px;
    color: #666;
}

.producto strong {
    color: #fa428c; /* Precio en rosa vibrante */
}

button {
    background-color: #f090b0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #f14d8f; /* Botón más oscuro al pasar el mouse */
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff99cc;
    width: 200px;
}

form button {
    background-color: #ff66b2;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #f580ba;
}

.form-container {
    text-align: center;
    margin: 20px;
}

.fondcarrito {
    border: 1px solid #ff99cc; /* Bordes rosas */
    background-color: #ebb7c8; /* Fondo rosa claro */
}

.carritofond {
    border: 1px solid #f8b5d7;
}
